@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor;
@Html.ActionLink(" All Doctors", "Index",null, null, new { @class="btn btn-info fa fa-user-md" })
@Html.ActionLink(" Edit", "Edit", new { id = Model.DoctorId }, new { @class="btn btn-info fa fa-edit" })
@Html.ActionLink(" Delete", "Delete", new { id = Model.DoctorId }, new { @class="btn btn-info fa fa-times" })

<h2>@Html.DisplayFor(model => model.Name)'s Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Patients.Count == 0)
{
  <p>This Doctor does not have any patients.</p>
}
else
{
  <h4>Patients</h4>
  <ul>
  @foreach(var join in Model.Patients)
  {
    <li>@join.Patient.Name
    @Html.ActionLink("Delete", "DeletePatient", "Doctors", new { joinId = @join.DoctorPatientId, DoctorId = Model.DoctorId }, new { @class="btn btn-info fa fa-times" })
    </li>
  }
  </ul>
}
@if(@Model.Specialties.Count == 0)
{
  <p>This Doctor does not have any specialties.</p>
}
else
{
  <h4>Assigned Specialties</h4>
  <ul>
  @foreach(var join in Model.Specialties)
  {
    <li>@join.Specialty.SpecialtyName
    @Html.ActionLink("Delete", "DeleteSpecialty", "Specialties", new { joinId = @join.DoctorSpecialtyId , DoctorId = Model.DoctorId }, new { @class="btn btn-info fa fa-times" })
    </li>
  }
  </ul>
}