@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Patient
@Html.ActionLink(" View All Patients", "Index", null, null, new { @class="btn btn-info fa fa-user" })
@Html.ActionLink(" Edit", "Edit", new { id = Model.PatientId }, new { @class="btn btn-info fa fa-edit" })
@Html.ActionLink(" Delete", "Delete", new { id = Model.PatientId }, new { @class="btn btn-info fa fa-times" })
@Html.ActionLink(" Add Patient", "AddPatient", new { id = Model.PatientId }, new { @class="btn btn-info fa fa-user-plus" })


<p>@Html.DisplayFor(model => model.Name)'s Details</p>
<hr />
<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>


@if(@Model.Doctors.Count == 0)
{
  <p>This patient does not have a doctor(s) yet.</p>
}
else
{
  <p>@Html.DisplayFor(model => model.Name)'s Doctor(s):</p>
  <ul>
  @foreach(var join in Model.Doctors)
  {
    <li>@join.Doctor.Name 
    @Html.ActionLink("Delete", "DeleteDoctor", "Patients", new { joinId = @join.DoctorPatientId }, new { @class="btn btn-info fa fa-times" })
    </li>
  }
  </ul>
}